*, *::before, *::after{
  box-sizing: border-box;
}
body{
  margin: 0;
  background: linear-gradient(to right, rgb(87, 166, 212), rgb(183, 155, 216));
}
.calculator-grid{
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: repeat(6, 6rem);
}
.span-two{
  grid-column: span 2;
}
.calculator-grid > button{
  margin: .1rem;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 3rem;
  outline: none;
  background-color: #fff;
}
.calculator-grid > button:hover{
  
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
}
.output{
  grid-column: 1 / -1;
  background-color: white;
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
  margin: .1rem;
  border-radius: 1rem;
}
.output .previous-operand{
  font-size: 1.5rem;
}